:host {
  ::ng-deep {
    --p-menubar-background: var(--color-celtic-blue);
    --p-menubar-item-active-background: var(--color-celtic-blue);
    --p-menubar-border-radius: 0;
    --p-menubar-item-color: white;
    --p-menubar-item-focus-color: white;
    --p-menubar-item-active-color: var(--color-delft-blue);
    --p-menubar-submenu-background: var(--color-delft-blue);
    --p-menubar-submenu-border-radius: 0;
    --p-menubar-base-item-border-radius: 0;
    --p-menubar-item-focus-background: var(--color-delft-blue);
    --p-menubar-padding: 0
  }

  ::ng-deep p-menubar {
    height: 3rem;
    padding: 0 2rem;
  }

  ::ng-deep .p-menubar-item:first-of-type,
  ::ng-deep ul.p-menubar-root-list {
    flex-grow: 1;
    height: 100%;
  }

  ::ng-deep .p-menubar-root-list > li.p-menubar-item,
  ::ng-deep .p-menubar-root-list > li.p-menubar-item .p-menubar-item-content {
    align-content: center;
    height: 100%;
  }

  width: 100%;
}
