:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

h1 {
  color: var(--color-celtic-blue);
}

main {
  display: flex;
  flex-direction: column;
  width: 960px;

  & header {
    width: 100%;
  }
}
