/* You can add global styles to this file, and also import other style files */
@import 'modern-normalize.css';
@import 'variables.css';
@import "primeicons/primeicons.css";

@import url('https://fonts.cdnfonts.com/css/rubik-2');
@import url('https://fonts.cdnfonts.com/css/fjalla-one-2');
@import url('https://fonts.cdnfonts.com/css/golos-text');


  body {
  margin: 0;
  display: flex;
  flex-direction: column;

  & > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

html {
  font-family: "Golos Text", "Rubik", "Noto Sans", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1 {
  color: var(--color-delft-blue);
  font-family: "Fjalla One", sans-serif;
  margin-top: 0;
}
