:root {
  --color-celtic-blue: rgba(39, 111, 191, 1);
  --color-delft-blue: rgba(24, 48, 89, 1);
  --color-imperial-red: rgba(240, 58, 71, 1);
  --color-redwood: rgba(175, 91, 91, 1);
  --color-white-smoke: rgba(246, 244, 243, 1);
  --p-menubar-color: red;

  --nav-bar-height: 3rem;
  --flex-gap-main: 4rem;
  --position-eyeline: 20vh;
}

